doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title bn mobile
  body
    h2 1234
    include layouts/footer.pug